@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

body{
    font-family: 'Dancing Script', cursive;
    background-image: url(new\ theme\ third\ photo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: rgb(56, 126, 167);
}
h1{
    text-align: center;
}
.to-do-tasks, .in-progress-tasks, .done-tasks{
  list-style: none;  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
li{
    width: 180px;
    height: 15px;
    padding: 4px;
    margin-top: 5px;
    margin-left: 0;
    margin-right: 0;
    border: solid 1px black;
    border-radius: 8%;
}
section{
    background-color: rgba(240, 240, 240, 0.7);
    border-radius: 50%;
}
h2{
    text-align: center;
}
.api-buttons{
   display: flex;
   justify-content: end;
   border-radius: 50%;
}
#search{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.main-div{
    display: flex;
    justify-content: space-evenly;
}
.task-section{
    width: 300px;
    height: 300px;
    border: 1px solid;
    margin: 10px;
}

.task-section input{
    width: 150px;
    margin-top: 10px;
    transform: translateX(20%);
}

.task-section h2{
    margin-top: 0;
}
.dragging{
    opacity: 0.5;
}

input{
    border: none;
    appearance: none;
    background-color: rgb(240,240,240);
    height:30px;
    width: 200px;
    border-radius: 3px;
    outline: none;
    margin:0;
}

.search-bar{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 220px;
    height: 30px;
}
#search{
    display: inline;
    width: 100%;
    height: 100%;
    background-color: white;
}
.search-bar label{
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 100%;
    width: 100%;
    pointer-events: none;
    border-bottom: solid 1px black;
    transition: all 0.3s ease;
}

.placeholder{
    position: absolute;
    bottom: 5px;
    left: 0%;
    transition: all 0.3s ease;
}

.api-button,.add-task{
   width: 70px;
   height: 35px;
   color: white;
   background-color: teal;
   border-radius: 4px;
   transition: ease-out 0.3s;
   outline: none;
   box-shadow: inset 0 0 0 0 yellow;
}

.api-button:hover{
    box-shadow: inset 70px 0 0 0 yellow;
}

.add-task{
    transform: translateX(55%);
    width: 55px;
    height: 28px;
    color: white;
    background-color: rgb(128, 0, 70);
    border-radius: 4px;
    transition: ease-out 0.3s;
    outline: none;
    box-shadow: inset 0 0 0 0 yellow;
}

.add-task:hover{
    box-shadow: inset 70px 0 0 0 rgb(7, 148, 190);
}

/*
#new-theme-btn{
    display: flex;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
};
*/

#new-theme-btn{
    display: flex;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 10px;
    overflow: hidden;
    transition: 0.2s;
}



#new-theme-btn:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0/5s;
}

