* {
  box-sizing: border-box;
  margin: 0;
  margin: 0;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 70%;
  min-height: 400px;
  width: 300px;
  border-bottom: 6px solid rgba(0, 0, 0, 0.568);
  border-right: 3px solid rgba(0, 0, 0, 0.431);
  border-left: 3px solid rgba(0, 0, 0, 0.424);
  border-top: 3px solid rgba(0, 0, 0, 0.424);
  margin: 2rem;
  padding: 1rem;
  border-radius: 25px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.in-progress-section {
  background-color: rgb(32, 172, 85);
}
.todo-section {
  background-color: rgb(231, 178, 31);
}

.done-section {
  background-color: rgb(69, 151, 185);
}

button {
  height: 30px;
  width: 100px;
}

input {
  width: 170px;
  margin: 10px 0;
}

task-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
  height: 50px;
  border: 5px solid black;
  margin: 10px auto;
  cursor: move;
}

task-box:hover {
  background-color: cornflowerblue;
}

task-box > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.section-header {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(245, 245, 245, 0.192);
  border-radius: 25px;
  padding: 0.75rem;
  border: 2px solid rgba(255, 255, 255, 0.013);
  margin-top: -10px;
}

i:hover {
  color: rgba(255, 255, 255, 0.746);
  transition: 0.3s;
}

i {
  color: rgba(0, 0, 0, 0.61);
  transition: 0.5s;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: 3rem;
  background-color: rgb(87, 103, 151);
  border-bottom: 6px solid rgba(0, 0, 0, 0.287);
}

.dragging {
  opacity: 0.5;
  box-shadow: black;
  color: red;
}

.task-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  height: 80%;

  margin-block: 0;
  margin-inline: 0;
  padding-inline: 0;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 3rem;
}

.clean-section-btn,
.change-color-btn,
.remove-btn {
  height: fit-content;
  width: fit-content;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.clean-section-btn:active,
.change-color-btn:active,
.remove-btn:active {
  color: red;
  transform: translateY(2px);
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-options {
  display: flex;
  justify-content: right;
  align-items: center;
}

.color-picker {
  width: 25px;
  height: 25px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(255, 255, 255, 0);
  border-radius: 50px;
  margin: 0;
}

.highlight-section {
  background-color: red;
}

.submit-task {
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  border: 3px solid rgba(105, 105, 105, 0.746);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#page-title,
.search-box,
.option-box {
  margin: 0 2rem;
}

sectio

/* LOADER STYLING */

.loader-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.418);
}

.loader {
  transform: translateY(50%);
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
