.main-div{    
    text-align: center;
}
.section-div{
    margin-top: 1%;
    display: inline-block;
    width: 30%;
    margin-left: 30px;
    height: 100px;
    background: #ce8888;
}
/* every li should have this class */
.task{
    color: black;
}
